<link rel="stylesheet" href="../styles.css">
<div id="landing">
  <h1>Velkommen til Escape Room</h1>
  <button id="playStoryButton">Klik her for at starte og tillad lyd 🔊</button>
  <button id="continueButton" disabled>Fortsæt</button>
  <h2>
  <div id="storyInfo" style="position:fixed; bottom:10%; left:10%; width:auto; max-width:50vw; max-height:50vh; z-index:0;">
  </div>
</h2>
</div>
<img id="hallwayImage" src="images/hall.png" style="position:fixed; bottom:10%; right:10%; width:auto; max-width:90vw; max-height:90vh; z-index:0; pointer-events:none;" alt="Hallway" />