<link rel="stylesheet" href="../styles.css">
<div id="task1" style="text-align: center; margin-top: 20px;">
    <h1>Opgave 1</h1>
    <div id="info"></div>
    <div id="task_content" style="margin-top: 20px;">
      <p>Her er en opgave, som I skal løse. Læs teksten grundigt og find svaret.<br>
      
      </p>
      <input type="text" id="task1_input" placeholder="Skriv jeres svar her" style="padding: 10px; width: 300px; margin-bottom: 10px;" />
      <br />
      <button id="submit_button" style="padding: 10px 20px; margin-right: 10px;">Submit</button>
      <button id="hint_button" style="padding: 10px 20px;">Hint</button>
    </div>
  </div>