<link rel="stylesheet" href="../styles.css">
<div id="task3a">
    <h1>opgave 3</h1>
    1. En letopløselig ionforbindelse er er opløst i vand.<br>
    Hvilken negativ ion indeholder opløsningen? (skriv med små bogstaver) <br>
    
    2. Opløsningen fordeles i fire glas. <br><br>

    3. Der tilsættes en opløsning af kaliumfosfat (K<sub>3</sub>PO<sub>4</sub>) til det første glas, hvorved der dannes bundfald.<br>
    4. I det andet glas tilsættes en opløsning af magnesiumchlorid (MgCl<sub>2</sub>), hvorved der ikke dannes bundfald.<br>
    <br><br>
        
    
</div>