<link rel="stylesheet" href="../styles.css">
<div id="task1" style="text-align: center; margin-top: 20px;">
    <h1>Opgave 1</h1>
    <div id="info"></div>
    <div id="task_content" style="margin-top: 20px;">
      <p>Find 9 brikker i lokalerne, som står på tavlen.<br></p>
      <br>
      <p>
        Skriv den komplementære DNA-sekvens til: <br>
        ATGAAGGGTCTGATCT<br>

GCATTCTGAGGCATTCTCTAACAGGTTCTCGACCCTCCGCCATGGCCCCGTGGATGCATCTCCTCACCGTGCTGGCCCTGCTGGCCCTCTGGGGACCCAACTCTGTTCAGGCCTATTCCAGCCAGCACCTGTGCGGCTCCAACCTAGTGGAGGCACTGTACATGACATGTGGACGGAGTGGCTTCTATAGACCCCACGACCGCCGAGAGCTGGAGGACCTCCAGGTGGAGCAGGCAGA ACTGGGTCTGGAGGCAGGCGGCCTGCAGCCTTCGGCCCTGGAGATGATTCTGCAGAAGCGCGGCATTGTGGATCAGTGCTGTAATAACATTTGCACATTT AACCAGCTGCAGAACTACTGCAATGTCCCTTAGACACCTGCCTTGGGCCTGGCCTGCTGCTCTGCCCTGGCAACCAATAAACCCCTTGAATGAG

      </p>
      
      
      <input type="text" id="task1_input" placeholder="Skriv jeres svar her" style="padding: 10px; width: 300px; margin-bottom: 10px;" />
      <br />
      <button id="submit_button" style="padding: 10px 20px; margin-right: 10px;">Svar</button>
      <button id="hint_button" style="padding: 10px 20px;">Hjælp</button>
    </div>
  </div>